.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(4, 100px);
    place-content: center;
    gap: 0.5em;
}

.menu {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}